@charset "utf-8";
/* CSS Document */

body {
	font-family: "Arial",sans-serif;
	transition: background-color .5s;
}

/*侧边栏选择器*/
.sidenav {
	height: 74%;
	width: 200px;
	/*原始宽度*/
	position: fixed;
	/*z-index（上方1，下方-1）、top、left共同控制侧栏的悬浮*/
	z-index: 1;
	top: 180px;
	left: -200px;
	background-color: #21242d;
	overflow-x: hidden;
	transition: 0.5s;
	/*侧栏延迟0.5s显示*/
	padding-top: 10px;
	border-top: solid;
	border-width: 2px;
	border-color: #aaffff;
}

.menu{
	margin-top: 10px;
}

.menu ul {
	padding: 0px;
}

.menu ul li {
	list-style: none;
	text-indent: 25px;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
}

/*侧边栏标签选择器*/
.menu ul li a {
	margin-left: 32px;
	margin-top: 8px;
	text-decoration: none;
	font-size: 16px;
	color: #ffffff;
	display: block;
	transition: 0.3s;
	/*标签延迟0.3s显示*/
}

.menu ul li a:hover {
	color: #0077AA;
	cursor: pointer;
}

/*侧栏标签效果*/
.menu summary:hover {
	background-color: #dbddff;
	border-left: 6px solid #416aff;
	color: #000000;
}

.menu summary {
	padding: 10px 8px 10px 8px; //上右下左
	margin-top: 8px;
	text-decoration: none;
	font-size: 16px;
	color: #ffffff;
	display: block;
	transition: 0.3s;
	/*标签延迟0.3s显示*/
	cursor: pointer;
}

.menu summary::-webkit-details-marker {
	display: none;
}

.menu summary:before {
	content: "+";
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	font-size: 18px;
	font-weight: 700;
}

.menu[open] summary:before {
	content: "-";
}

.sidenav summary {
	padding: 10px 8px 10px 8px; //上右下左
	margin-top: 8px;
	text-decoration: none;
	font-size: 16px;
	color: #ffffff;
	display: block;
	transition: 0.3s;
	/*标签延迟0.3s显示*/
	cursor: pointer;
}

.sidenav summary:hover {
	background-color: #a7aadd;
	border-left: 6px solid #416aff;
}

#top {
	transition: left .5s;
	padding: 0px;
}

#main {
	transition: left .5s;
}

.foldsidenav {
	height: 100%;
	width: 40px;
	background-color: #21242d;
	position: fixed;
	top: 0;
	left: 0;
	transition: 0.6s;
}

.foldsidenav ul {
	padding: 0px;
}

.foldsidenav ul li {
	list-style: none;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	width: 40px;
	margin-top: 20px;
}

.foldsidenav ul li span {
	position: absolute;
	left: 9px;
	font-size: 20px;
	color: #FFFFFF;
	cursor: pointer;
}

.foldsidenav ul li i {
	position: absolute;
	left: 8px;
	font-size: 20px;
	color: #FFFFFF;
	cursor: pointer;
}

.foldsidenav ul li span:hover{
	background-color: #1b668f;
}

.foldsidenav ul li i:hover{
	background-color: #1b668f;
}