<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>韵苑小区物业管理系统</title>	
		<link rel="stylesheet" href="css/font_2044497_i1km71kdgab/iconfont.css" />
		<link rel="stylesheet" href="css/element.css" />
		<link rel="stylesheet" href="css/header.css" />
		<link rel="stylesheet" href="css/login.css" />	
		<link rel="stylesheet" href="css/sidenav.css" />
		<!-- 引入element样式 -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	</head>
	<body>
		<!--顶部栏-->
		<div id="top" class="header">
			<!--系统标题-->
			<p style="margin-left: 20px;color:white;font-size:20px;">韵苑小区物业管理系统</p>
			<!--头像区-->
			<section style="position:absolute; top:70px; left:70px;">
				<img style="position:relative; top:5px; left:5px; border-radius:35px; border:none;" width="70px" height="70px" src="img/0.svg" />
			</section>
			<!--侧边菜单栏按钮-->
			<span style="color:white; position: absolute; top:140px; left:30px; font-size:20px; cursor:pointer" onclick="toggleNav()">&#9776;</span>
			<!--实时时间-->
			<section id="time" style="color:white; position:absolute; top:140px; right:200px;"></section>
			<!--消息提示-->
			<i style="color: white; font-size: 20px; position: absolute; top:140px; right:150px;" class="iconfont icon-xinxi"></i>
			<!--投诉提示-->
			<i style="color: white; font-size: 30px; position: absolute; top:134px; right:100px;" class="iconfont icon-tousu"></i>
			<!--登录按钮-->
			<button type="button" style="border-radius:15px; border-width: 0; color: #FFFFFF; background-color: #409eff; position: absolute; left: 180px; bottom: 20px; height: 25px; width: 60px;"
			 onclick="openDialog()">登 录</button>
		</div>

		<!--主界面-->
		<div id="app">
			<!--侧栏菜单-->
			<div id="mySidenav" class="sidenav">
				<summary @click="addTab('我的桌面')"><i class="iconfont icon-kongzhitai"> </i>控制台</summary>
				<details class="menu">
					<summary><i class="iconfont icon-mo"> </i>小区管理</summary>
					<ul>
						<li><a @click="addTab('小区列表')">小区列表</a></li>
					</ul>
				</details>
				<details class="menu">
					<summary><i class="iconfont icon-shouye"> </i>房产管理</summary>
					<ul>
						<li><a @click="addTab('房产管理')">房产管理</a></li>
						<li><a @click="addTab('栋数管理')">栋数管理</a></li>
					</ul>
				</details>
				<details class="menu">
					<summary><i class="iconfont icon-yezhuguanli-"> </i>业主信息管理</summary>
					<ul>
						<li><a @click="addTab('人员管理')">人员管理</a></li>
						<li><a @click="addTab('车辆管理')">车辆管理</a></li>
						<li><a @click="addTab('宠物管理')">宠物管理</a></li>
					</ul>
				</details>
				<details class="menu">
					<summary><i class="iconfont icon-tingche1"> </i>停车位管理</summary>
					<ul>
						<li><a @click="addTab('车位管理')">车位管理</a></li>
						<li><a @click="addTab('车位使用管理')">车位使用管理</a></li>
					</ul>
				</details>
				<details class="menu">
					<summary><i class="iconfont icon-fuwu"> </i>服务管理</summary>
					<ul>
						<li><a @click="addTab('活动管理')">活动管理</a></li>
						<li><a @click="addTab('保修管理')">保修管理</a></li>
						<li><a @click="addTab('投诉管理')">投诉管理</a></li>
						<li><a @click="addTab('信箱管理')">信箱管理</a></li>
					</ul>
				</details>
				<details class="menu">
					<summary><i class="iconfont icon-zichanx"> </i>资产管理</summary>
					<ul>
						<li><a @click="addTab('资产设备管理')">资产设备管理</a></li>
					</ul>
				</details>
				<details class="menu">
					<summary><i class="iconfont icon-shoufei"> </i>收费管理</summary>
					<ul>
						<li><a @click="addTab('收费项目')">收费项目</a></li>
						<li><a @click="addTab('收费明细管理')">收费明细管理</a></li>
					</ul>
				</details>
				<details class="menu">
					<summary><i class="iconfont icon-guanliyuan"> </i>管理员管理</summary>
					<ul>
						<li><a @click="addTab('管理员列表')">管理员列表</a></li>
						<li><a @click="addTab('用户组管理')">用户组管理</a></li>
						<li><a @click="addTab('权限管理')">权限管理</a></li>
					</ul>
				</details>
				<details class="menu">
					<summary><i class="iconfont icon-shezhi"> </i>系统设置</summary>
					<ul>
						<li><a @click="addTab('系统设置')">系统设置</a></li>
						<li><a @click="addTab('个人设置')">个人设置</a></li>
					</ul>
				</details>
			</div>
			<!--主区域-->
			<div id="main" style="height:100%; width: 100%; position: fixed; top:180px; left:0; background-color: #ffffff; margin-left: 0px;">
				<el-tabs v-model="editableTabsValue" type="border-card" closable @tab-remove="removeTab">
					<el-tab-pane v-for="(item, index) in editableTabs" :key="item.name" :label="item.title" :name="item.name">
						{{item.content}}
					</el-tab-pane>
				</el-tabs>
			</div>
		</div>
		
		<!--登录弹窗模块-->
		<div id="light" class="white_content">
			<!--默认头像-->
			<img style="position:relative; top:0px; left:160px; border-radius:35px; width: 70px; height: 70px;" src="img/0.svg" />
			<!--账号输入区-->
			<section style="position:absolute; top:95px; left:110px;">
				<p style="font-size:16px;color: #ffffff;">账号:</p>
				<input style="position: absolute;top: 18px; left: 42px;" type="text" placeholder=请输入账号 value="" id="账号">
			</section>
			<!--密码输入区-->
			<section style="position:absolute; top:135px; left:110px;">
				<p style="font-size:16px;color: #ffffff;">密码:</p>
				<input style="position: absolute; top:18px; left: 42px;" type="password" placeholder=请输入密码 value="" id="密码">
			</section>
			<!--登录退出按钮区-->
			<section style="position:absolute; top:190px; left:155px;">
				<button type="button" style="color: #FFFFFF; background-color: #409eff;width: 70px; height: 25px; border-radius:15px; border-width: 0; outline: none;" onclick="logIn()">登 录</button>
				<button type="button" style="margin-left: 10px; color: #FFFFFF; background-color: #409eff;width: 70px; height: 25px; border-radius:15px; border-width: 0; outline: none;" onclick="closeDialog()">退 出</button>
			</section>
		</div>
		<!--背景虚化-->
		<div id="fade" class="black_overlay"></div>
	</body>

	<!-- import Vue before Element -->
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<!-- import JavaScript -->
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<script src="https://unpkg.com/element-ui@2.13.2/lib/index.js"></script>
	<script src="js/my.js" type="text/javascript"></script>
	<script src="js/element.js" type="text/javascript"></script>
</html>
