<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="css/table.css"/>
    <!-- 引入element样式 -->
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/element.css"/>
</head>
<body>
<div id="app">
    <template>
        <div style="height: 100%;">
            <el-button type="warning" @click="deleteItem('煤气费管理')" plain>批量删除</el-button>
            <el-button type="primary" @click="dialogVisible = true;" plain>添加</el-button>
            <el-button type="primary" @click="refresh" plain>点击刷新</el-button>
            <template>
                <el-dialog title="煤气费信息添加" :visible.sync="dialogVisible" style="width: 100%;">
                    <iframe style="width:100%; height:350px; border: none"src="/index?query=煤气费添加"></iframe>
                </el-dialog>
            </template>
            <el-table id="table" ref="table" :data="tableData" style="margin-top: 10px; width: fit-content;" border >
                <el-table-column type="selection" width="40px"></el-table-column>
                <el-table-column prop="id" label="记录ID" width="100px"></el-table-column>
                <el-table-column prop="houseId" label="房屋ID" width="100px"></el-table-column>
                <el-table-column prop="currentData" label="气表值" width="100px"></el-table-column>
                <el-table-column prop="date" label="记录日期" width="200px"></el-table-column>
            </el-table>
        </div>
    </template>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/element-ui@2.13.2/lib/index.js"></script>
<script src="https://code.jquery.com/jquery-1.8.3.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<script src="js/jquery.cookie.js" type="text/javascript"></script>
<script src="js/my.js" type="text/javascript"></script>
<script th:inline="javascript">
    var app = new Vue({
        el: '#app',
        data() {
            return {
                tableData: [[${DataList}]],
                dialogVisible: false,
            }
        },
        methods: {
            refresh(){
                location.reload();
            },
            deleteItem(moduleName) {
                var info = $.cookie('LoginInfo');
                if (!info) {
                    alert('请先登录！');
                    return;
                }
                var loginInfo = JSON.parse(info);
                var account = loginInfo.account;
                var token = loginInfo.token;

                var dat = this.$refs.table.selection;
                if (!dat.length) return;
                var target_id = [];
                dat.forEach(i => {
                    target_id.push(i.id);
            });
                $.post({
                    contentType: "application/json;charset=UTF-8",
                    url: "/" + moduleName + "/delete?account=" + account + "&token=" + token,
                    data: JSON.stringify(target_id),
                    success: function(ret) {
                        var tar = JSON.parse(ret);
                        if (tar.return_val === 0) {
                            location.reload();
                        } else {
                            alert(tar.info);
                        }
                    },
                    error: function(ret) {
                        alert('请求失败，请稍后再试');
                    }
                });
            }
        }
    });
</script>
</html>